<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script>
        // Получим коллекцию всех элементов страницы
        let elements = document.getElementsByTagName('*');

        // Выведем результат в уведомление
        alert(`Количество элементов на странице:  ${elements.length}`);
    </script>
</head>
<header id="header-index">
    <h1>LifeSpot - тестовая страница</h1>
    <p>Здесь можно экспериментировать с кодом</p>
    <input type="text" oninput="
        /* Обработчик ввода текста */
           " size=50%>
</header>

<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>
<body>

</body>
</html>